/* ----> Media Querry (375px) <---- */
@media screen and (max-width: 375px){
/* /// Header /// */
    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header__logo {
        width: 50%;
    }

    .header__icon {
        padding-right: 10px;
    }

    .header__txt {
        text-align: center;
        width: 100%;
    }

    .header__btn {
        background-color: pink;
        color: #fff;
        border: 1px solid black;
        border-radius: 20px;
        padding: 10px;
    }
}