/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;400;700&display=swap");
/* MIXINS ANIMATIONS */
@keyframes transition-apparition_menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparition_menu {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* Body */
body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
body h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 15px 0 15px;
}
body h2 {
  font-size: 25px;
  font-weight: 600;
}
body h3 {
  font-family: "Shrikhand", sans-serif;
  font-size: 26px;
  margin: 10px 0 0 0;
}
body h4 {
  font-size: 18px;
  font-weight: 600;
}
body h5 {
  font-size: 16px;
  font-weight: 400;
}
body p {
  font-size: 16px;
  font-weight: 100;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  box-shadow: lightgrey 0px 3px 3px inset;
}
.localisation__icon {
  padding-right: 10px;
  font-size: 16px;
  font-weight: 400;
}
.localisation h5 {
  margin: 15px 0;
}

/* Header page menu */
.header__menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.header__menu > a {
  color: black;
  font-size: 20px;
  padding-left: 25px;
}

/* MIXINS ANIMATIONS */
@keyframes transition-apparition_menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparition_menu {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* INTRODUCTION */
.introduction {
  background-color: #f6f6f6;
  padding: 40px;
  text-align: center;
}
.introduction p {
  font-size: 17px;
}
.introduction__title {
  margin: 0;
}

/* FONCTIONNEMENT */
section > h2 {
  background-color: white;
  padding: 50px 20px 25px 20px;
  margin: 0;
}

.fonctionnement {
  background: white;
  padding-bottom: 30px;
}
.fonctionnement__block {
  font-size: 16px;
  font-weight: 400;
  border-radius: 15px;
  box-shadow: 0 2px 8px #dbdbdb;
  background-color: #f6f6f6;
  text-align: left;
  border: 0;
  padding: 25px 0 25px 30px;
  margin: 0 20px 30px 35px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.fonctionnement__block i {
  font-size: 18px;
}
.fonctionnement__block:hover {
  background: #f2eafb;
}
.fonctionnement__block:hover > .fonctionnement__icon {
  color: #9356DC;
}

.fonctionnement__number {
  background: #9356DC;
  color: white;
  height: 25px;
  width: 25px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20px;
}

.fonctionnement__icon {
  padding-right: 20px;
  color: #636363;
}

/* RESTAURANTS */
.restaurant__container > h2 {
  background-color: #fff;
  padding: 50px 10px 0 20px;
  margin: 0 0 10px 0;
}

.restaurant {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  height: auto;
  width: 100%;
  margin: 0;
  padding-bottom: 60px;
}
.restaurant__block {
  text-decoration: none;
  color: inherit;
  position: relative;
  width: 90%;
  height: auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 8px #dbdbdb;
  margin: 15px 15px 5px 15px;
  transform: scale(1);
  transition: transform 0.5s;
  cursor: pointer;
}
.restaurant__block:hover {
  transform: scale(1.03);
}
.restaurant__block:hover > .restaurant__new {
  background-color: #278870;
  color: #99E2D0;
}
.restaurant__block__content {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  line-height: 0;
  padding: 5px 0 5px 15px;
}

.photo {
  width: 100%;
  height: 170px;
  border-radius: 15px 15px 0 0;
}

.restaurant__new {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #278870;
  background-color: #99E2D0;
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 30px;
}

.photo-jay {
  background: url(./images/restaurants/jay.jpg);
  background-position: center;
  background-size: cover;
}

.photo-stil {
  background: url(./images/restaurants/stil.jpg);
  background-position: center;
  background-size: cover;
}

.photo-toa {
  background: url(./images/restaurants/toa.jpg);
  background-position: center;
  background-size: cover;
}

.photo-louis {
  background: url(./images/restaurants/louis.jpg);
  background-position: center;
  background-size: cover;
}

/* MIXINS ANIMATIONS */
@keyframes transition-apparition_menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparition_menu {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* PAGES MENUS */
.header__menu a:link {
  text-decoration: none;
}

.banner {
  height: 300px;
  width: 100%;
}

section {
  background-color: #fff;
}

.menu {
  height: 100%;
  background-color: #fff;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 20px 0 20px 0;
  transform: translateY(-5%);
}
.menu__title {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px 30px 0 30px;
}
.menu__title .icon-empty, .menu__title .icon-full {
  top: 20px;
}
.menu__subtitle {
  margin: 40px 20px 0 20px;
  text-transform: uppercase;
  color: #666666;
  font-weight: 400;
}

.border {
  border-bottom: #99E2D0 3px solid;
  margin: 5px 0;
  width: 40px;
}

.menu__block {
  background: white;
  display: flex;
  box-shadow: 0 2px 8px #dbdbdb;
  border-radius: 15px;
  animation: transition-apparition_menu 3.5s ease;
  cursor: pointer;
  margin: 15px;
  overflow: hidden;
}
.menu__block:hover .check-icon__block {
  min-width: 70px;
  transition-duration: 0.5s;
  transform: translateX(-60px);
  border-radius: 0 15px 15px 0;
}
.menu__block:hover i {
  transform: rotate(360deg);
  transition-duration: 0.5s;
}
.menu__block:hover .price {
  transition-duration: 0.5s;
  transform: translateX(-50px);
}
.menu__block:hover .menu__txt {
  width: calc(80% - 70px);
  padding-right: 40px;
}

.check-icon__block {
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -110px;
}
.check-icon__block > i {
  background: white;
  color: #99E2D0;
  padding: 5px;
  border-radius: 50%;
}

.menu__animation .animation-1 {
  animation: apparition_menu 100ms ease-out 200ms both;
}
.menu__animation .animation-2 {
  animation: apparition_menu 100ms ease-out 400ms both;
}
.menu__animation .animation-3 {
  animation: apparition_menu 100ms ease-out 600ms both;
}
.menu__animation .animation-4 {
  animation: apparition_menu 100ms ease-out 800ms both;
}
.menu__animation .animation-5 {
  animation: apparition_menu 100ms ease-out 1000ms both;
}
.menu__animation .animation-6 {
  animation: apparition_menu 100ms ease-out 1200ms both;
}
.menu__animation .animation-7 {
  animation: apparition_menu 100ms ease-out 1400ms both;
}
.menu__animation .animation-8 {
  animation: apparition_menu 100ms ease-out 1600ms both;
}
.menu__animation .animation-9 {
  animation: apparition_menu 100ms ease-out 1800ms both;
}
.menu__animation .animation-10 {
  animation: apparition_menu 100ms ease-out 2000ms both;
}

.menu__txt {
  margin-left: 20px;
  overflow: hidden;
  width: calc(80% - 30px);
  padding-right: 10px;
}
.menu__txt h4 {
  margin: 15px 0 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__txt p {
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.price {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 20%;
  margin-bottom: 16px;
  font-weight: 700;
}

/* Footer */
.footer {
  background-color: #404040;
  padding: 15px 0 20px 20px;
  line-height: 25px;
  font-size: 15px;
  color: white;
}
.footer i {
  color: white;
  padding-right: 10px;
}
.footer a {
  text-decoration: none;
  color: inherit;
}

.logofooter {
  filter: invert(100%);
  height: 16px;
  padding: 15px 0 15px 0;
}

/* Heart icon */
.heart-icons__block {
  position: absolute;
  right: 50px;
  top: 15px;
  padding: 10px;
}
.heart-icons__block .icon-full {
  position: absolute;
  font-size: 25px;
  transition: 0.5s;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(0);
  cursor: pointer;
}
.heart-icons__block:hover .icon-full {
  transform: scale(1);
}
.heart-icons__block .icon-empty {
  position: absolute;
  font-size: 25px;
}
.heart-icons__block:hover .icon-empty {
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
  -webkit-background-clip: text;
  color: transparent;
}

/* Button */
.btn {
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
  border-radius: 50px;
  min-width: 180px;
  box-shadow: 0 2px 8px #dbdbdb;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: white;
  border: 0;
  padding: 15px 20px;
  margin: 10px 0;
  transform: scale(1);
  transition: transform 0.08s;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.05);
  opacity: 0.8;
  box-shadow: 0 2px 8px #999999;
}
.btn__order {
  margin: 30px 0 0 0;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  h2 {
    display: flex;
    justify-content: center;
  }

  /* RESTAURANTS */
  .restaurant {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 750px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer a, .footer .logofooter {
    padding-right: 20px;
  }

  /* FONCTIONNEMENT */
  .fonctionnement {
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    padding: 0 10px;
  }
  .fonctionnement__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 20px 20px;
    margin: 35px 12px;
  }
  .fonctionnement__block i {
    padding: 10px 0;
  }

  .fonctionnement__number {
    position: relative;
    top: -10px;
    left: 0;
  }

  /* PAGES MENUS */
  .menu {
    padding-bottom: 10px;
  }
  .menu--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .menu__categories {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-self: start;
    margin: 0 20px;
  }
  .menu__subtitle {
    margin-left: 35px;
  }

  .menu__block {
    margin: 10px;
  }

  .price {
    width: 20.5%;
  }
}
@media only screen and (min-width: 1000px) {
  /* RESTAURANTS */
  .restaurant {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  /* PAGES MENUS */
  .menu {
    padding-bottom: 10px;
    max-width: 100%;
  }
  .menu--grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .menu__categories {
    display: grid;
    margin: 0 20px;
  }
  .menu__subtitle {
    margin-left: 35px;
  }

  .menu__block {
    margin: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
